<div class="navbar-trans">

    <nav class="navbar navbar-global wrap-group">
        <!-- navbar navbar-global wrap-group -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/" class="brand page-load ">
                    <!-- navbar-brand-->
                    <h2 class="the-white-out iceWhite">est. 2005</h2>
                </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse iceWhite">
                <!-- nav-inner -->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">portfolio
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-header">web</li>
                            <!-- <li><a class="page-load" href="http://calexit-2019.com/">- #calexit</a></li> -->
                            <li>
                                <a class="page-load" href="http://lipoonthego.herokuapp.com">- #lipoonthego</a>
                            </li>
                            <li>
                                <a class="page-load" href="/views/werkspayce.html">- WerkSpayce</a>
                            </li>
                            <li>
                                <a class="page-load" href="https://gradient-ascent-sales-tracker.herokuapp.com">- Sales
                                    Tracker</a>
                            </li>
                            <li>
                                <a class="page-load" href="https://gradient-ascent-lead-tracker.herokuapp.com/">- Lead
                                    Tracker</a>
                            </li>
                            <!--<li><a class="page-load" href="/views/functional-programming.html">- Functional<br>Programming</a></li>-->
                            <!-- <li><a class="page-load" href="views/comingSoon.html">Bio</a></li> -->
                            <!--<li class="dropdown-header">mobile</li>-->
                            <!--<li><a class="page-load" href="views/comingSoon.html">- Drum Pads</a></li>-->
                            <li class="dropdown-header">code tests</li>
                            <li>
                                <a class="page-load" href="http://eaturner.herokuapp.com/">- Turner</a>
                            </li>
                            <li>
                                <a class="page-load" href="/views/emcien.html">- Emcien</a>
                            </li>
                            <li>
                                <a class="page-load" href="https://qa-tools.herokuapp.com/">- Map Anything</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a class="page-load" href="/views/resume.html">Resume</a>
                    </li>
                    <li>
                        <a class="page-load" href="/views/contact.html">Contact</a>
                    </li>
                    <li>
                        <a class="page-load" href="#/rebrand">Rebrand</a>
                    </li>
                </ul>

                <!--
                  <ul class="nav navbar-nav navbar-right">
                      <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                  </ul>
                  -->

            </div>

            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</div>