<!-- CSS IMPORTS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<!-- CSS IMPORTS -->


<style>
    .testWrapper {
        width: 100%;
        background: red;
        color: white;
        font-family: Anton, helvetica;
    }


    .buttonWrapper {
        width: 100%;
        display: flex;
        margin: 100px 0px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }



    .superButton {
        width: 400px;
        height: 100px;
        background: rgba(0, 163, 224, .5);
    }
</style>


<div class="testWrapper">

    <div class="flex_item">
        <div class="col-xs-4">TEST</div>
        <div class="col-xs-4">
            <h1>HELLO WORLD!</h1>
        </div>
        <div class="col-xs-4">TEST</div>
    </div>

</div>


<div class="buttonWrapper">

    <button class="superButton">
        CLICK ME!
    </button>

</div>














<!-- JAVASCRIPT IMPORTS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<!-- JAVASCRIPT IMPORTS -->


<script>
    $(document).ready(function () {
        console.log("ready!");

        let TEXT = "I LIKE RICK AND MORTY";

        $('.superButton').on('click', function () {
            $(this).html(TEXT);
        });


        $('.superButton').on('hover', function () {
            $(this).css({
                'background': '#000'
            });
        });




    });
</script>