<style media="screen">
  * {
    margin: 0;
    padding: 0;
    color: rgba(256, 256, 256, .70);
    /* mix-blend-mode: luminosity; */
  }

  body,
  html {
    background-size: cover;
    min-height: 100%;
  }

  body {
    overflow: hidden !important;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    background: white;
  }

  .info {
    position: absolute;
    top: 25%;
    width: 100%;
    z-index: 2;
  }

  /* mix-blend-mode: exclusion; */

  .bar {
    width: 600px;
    height: 5px;
    background-color: #222;
    background-color: rgba(256, 256, 256, .70);
    margin: 0 auto;
    opacity: 1;
    transform: translateY(-80px);
    will-change: transform;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  h1 {
    color: #222;
    color: #fff;
    color: rgba(256, 256, 256, .70);
    padding-top: 50px;
    font-family: 'Bangers', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 100%;
    font-size: 200px;
    opacity: 1;
    transform: translateY(-60px);
    will-change: transform;
  }

  h2 {
    color: #222;
    color: #fff;
    color: rgba(256, 256, 256, .70);
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    /* color: #f00; */
    text-align: center;
    font-size: 45px;
    opacity: 1;
    transform: translateY(-100px);
    will-change: transform;
  }

  .links {
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 20px 0 0 0;
    opacity: 1;
    transform: translateY(-120px);
    will-change: transform;
    /* margin-bottom: 25px; */
    /* margin-top: 25px; */
  }

  .links li {
    display: inline-block;
  }

  .links li a {
    color: rgba(256, 256, 256, .70);
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: 10px 20px;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }

  .links li a:hover {
    transform: scale(1.2);
  }

  .pgpinfo {
    opacity: 1;
    color: #f00;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 12px;
    pointer-events: none;
    opacity: 1;
    transform: translateY(-140px);
    will-change: transform;
  }

  .pgpinfo.show {
    opacity: 1;
    pointer-events: all;
  }

  .pgpinfo.animate {
    transition: opacity 0.2s ease-in-out;
  }

  .fingerprint {
    cursor: copy;
  }

  .fmsg {
    display: none;
  }

  .fa {
    transform: translateY(-1px);
    display: inline-block;
  }

  .fadedown h1 {
    transition: all 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    transform: translateY(0px);
  }

  .fadedown h2 {
    transition: all 1.1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    transform: translateY(0px);
  }

  .fadedown .bar {
    transition: all 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    transform: translateY(0px);
  }

  .fadedown .links {
    transition: all 1.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    transform: translateY(0px);
  }

  .fadedown .pgpinfo {
    transition: all 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    transform: translateY(0px);
  }

  .stopchange h1,
  .stopchange h2,
  .stopchange .bar,
  .stopchange .links,
  .stopchange .pgpinfo {
    will-change: none;
  }

  @media (max-width: 1300px) {
    h1 {
      font-size: 100px;
    }

    h2 {
      font-size: 25px;
    }

    .bar {
      width: 300px;
    }
  }

  @media (max-width: 420px) {
    h1 {
      font-size: 70px;
    }
  }

  .smallSpacer {
    /* margin-top: 100px; */
    min-height: 100x;
    display: block;
  }

  .homeWrapper {
    /* overflow: hidden !important; */
  }

  body {
    /* overflow: hidden !important; */
  }

  /* SPECIAL TREATMENT  */

  .navbar {
    height: 70px;
    padding-top: 20px;
  }

  .dropdown-menu {
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .dropdown-menu li>a {
    color: white;
  }

  .dropdown-menu>li {
    padding: 5px;
  }

  .dropdown-menu li>a:hover {
    background: white;
  }

  .mashUpCallOut {
    height: 100vh;
    color: white;
    background: #00a3e0;
  }

  .navbar-global .navbar-toggle {
    border-color: #fff;
  }

  .navbar-global .navbar-toggle li {
    display: block;
  }

  .navbar-global .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .dropdown-header {
    color: #fff;
  }

  .headLine {
    color: white;
    font-size: 89;
  }

  .dropdown-header {
    word-wrap: break-word;
  }

  /* SPECIAL TREATMENT  */
</style>

<div class="homeWrapper">
  <video src="https://s3.amazonaws.com/corne.info/web-vp9.webm" autoplay loop>
  </video>

  <navbar></navbar>

  <div class="info">
    <div class="col-md-12">
      <h1 class="mixed_text">LoseTheQuit</h1>
    </div>
    <div class="col-md-12">
      <div class="bar"></div>
    </div>
    <div class="col-md-12">
      <!-- <h2>Web/App Developer</h2> -->
      <h2>MEAN Stack Developer</h2>
    </div>
    <div class="col-md-12">
      <div class="linkBar">
        <ul class="links">
          <li>
            <a href="https://www.linkedin.com/in/brendan-carr-182/" target="nofollow">
              <i class="fa fa-linkedin"></i> LinkedIn</a>
          </li>
          <li>
            <a href="https://github.com/LoseTheQuit" target="nofollow">
              <i class="fa fa-github"></i> GitHub</a>
          </li>
          <li>
            <a href="https://twitter.com/losethequit?lang=en" target="nofollow">
              <i class="fa fa-twitter">
              </i> @losethequit</a>
          </li>

        </ul>
      </div>
    </div>



  </div>
</div>