<style>
  /* OLD GOLD:  ded1c1 */

  /* NEW GOLD: e5c596 */

  /* OLD GREY:  2d2b29 */

  /* NEW GREY:  2c2d32 */
  body {
    /* overflow-y: scroll; */
    /* margin: 0px; */
    background: #fff;
  }

  .container {
    /* overflow-y: scroll; */
    /* margin: 0px; */
    background: #000;
    color: #fff
  }
</style>
<style>
  .relative_container {
    display: inline-block;
  }
</style>

<div class="row">

  <div class=" ">
    <div>BRENDAN CARR</div>
    <div>FULL STACK WEB DEVELOPER</div>
    <div>BRENDAN CARR</div>
    <div>FULL STACK WEB DEVELOPER</div>

  </div>
</div>