<style>
  /* OLD GOLD:  ded1c1 */
  /* background: rgba(222, 209, 193, 1); */

  /* NEW GOLD: e5c596 */
  /* background: rgba(229, 197, 150, 1); */

  /* OLD GREY:  2d2b29 */
  /* background: rgba(45, 43, 41, 1); */

  /* NEW GREY:  2c2d32 */
  /* background: rgba(44, 45, 50, 1); */

  body {
    /* overflow-y: scroll; */
    overflow: auto;
    margin: 0px;
    background: #fff;
    overflow: hidden !important;
  }

  body,
  html {
    background-size: cover;
    min-height: 100%;
  }

  .jumbotron_scene_one {
    flex-wrap: nowrap;
    height: 100vh;
    display: inline-flex;
    width: 100%;
  }

  .rbPanel {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .rbPanel_one {
    background: #00A3E0;
    background: #C1E5FF;
  }

  .rbPanel_two {
    background: #0A63C9;
    background: #96C4E5;
  }

  .rbPanel_three {
    background: #0B36E0;
    background: #557C98;
  }

  .rbPanel_four {
    /* background: rgba(222, 209, 193, 1); */
    height: 50vh;
  }
  .rbPanel_five {
    /* background: rgba(222, 209, 193, 1); */
    height: 50vh;
  }

  .rbPanel_six {
    display: none;
    background: #fff;
    height: 100%;
    transition: 1s linear;

  }

  .rbPanel_seven {
    /* background: rgba(44, 45, 50, .75); */
    /* color: white; */
    height: 50vh;
    align-items: center;
    justify-content: space-between;
    display: none;

    /* NEW STUFF */
    flex-wrap: nowrap;
    display: inline-flex;
    width: 100%;
    /* REALLY NEW STUFF */
    position: absolute;
  }

  .rbPanel_seven  a {
    color: #505050;
    color: #fff;
    text-decoration: none;
    font-family: 'Oswald', sans-serif; 
    display: inline-block;
    flex-direction: column;
    /* transition: transform 0.1s ease-in-out; */
    font-size: 18px;
    mix-blend-mode: exclusion;
  }
 

  .rbPanel_glaze {
    width: 100%;
    height: 50vh; 
    display: block;
    background: #fff;
    background: url('https://cdn-images-1.medium.com/max/2000/1*OF0xEMkWBv-69zvmNs6RDQ.gif') no-repeat center center;
  }
  .rbPanel_glaze_2 {
    width: 100%;
    height: 50vh; 
    display: block;

    background: #fff;
    background: url('https://media.giphy.com/media/120erm75U0YpvW/giphy.gif') no-repeat center center;
    background-size: cover;
  }
  .rbPanel_glaze_2 h1
   {
    color: #fff;
  }
    .rbPanel_glaze_2 h2 {
    color: #E8E8E8;
  }
  .rbPanel_donut{
    width: 100%;
    height:100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background: rgba(229, 197, 150, .90);
   }
  .rbPanel_donut_2{
    width: 100%;
    height:100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background: rgba(44, 45, 50, .90);
    color: #fff;
   }

  .rbPanel_container {
    width: 100%;
    height: 50vh;
    display: block;
    background: #fff;
   }

  .headline_text_one {
    align-items: center;
    justify-content: center;
    display: contents;
    opacity: 0;
  }
  .headline_text_one h1,
  .headline_text_one h2 {
   text-align: center;
  }

  .headline_text_two {
    /* color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .headline_text_two h1 {
    color: #fff;
  }

  .navbar-trans {
    display: none;
  }

  .relative_container {
    display: flex;
  }

  .three_panel {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
</style>

<style>
  /* NAV */
  /* OVER RIDES */
  /* OVER RIDES */
  /* OVER RIDES */

  .navbar a {
    color: #505050;
    color: #fff !important;

    font-weight: 700;
  }

  .the-white-out {
    color: #505050 !important;
    color: #fff !important;

  }

  .iceWhite {
    color: #505050 !important;
    color: #fff !important;
  }


  .navbar-global .navbar-toggle li {
    display: block;
  }

  .navbar-global .navbar-toggle .icon-bar {
    background-color: #505050;
    background-color: #fff;
  }

  .nav>li>a:focus,
  .nav>li>a:hover {
    color: rgba(0, 0, 0, .50) !important;
    /* background-color: rgba(0, 0, 0, .50); */
  }

  .dropdown-header {
    color: #fff;
  }

  @media (max-width: 767px) {
    .dropdown-header {
      color: #505050;
    }

    .dropdown-menu li>a {
      color: #505050;
    }
  } 
</style>

<style>

  .ft_container{
    /* background: #00A3E0; */
    background: #fff;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .ftPanel_one {
    /* background: #00A3E0; */
    background: rgba(0, 163, 224, .75);
    background: rgba(198, 173, 159, .75);
    /* background: rgba(192, 125, 85, .75); */
    background: #C1E5FF;

    /* background: rgba(198, 173, 159, 1); */
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .ftPanel_two {
    /* background: #0A63C9; */
    background: rgba(10, 99, 201, .75);
    background: rgba(161, 135, 119, .75);
    background: rgba(229, 197, 150, .75);
    /* background: rgba(255, 230, 193, .75); */
    background: #96C4E5;

    /* background: rgba(161, 135, 119, 1); */
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .ftPanel_three {
    /* background: #0B36E0; */
    background: rgba(11, 54, 224, .75);
    background: rgba(139, 109, 95, .75);
    /* background: rgba(229, 197, 150, .75); */
    background: #557C98;

    /* background: rgba(139, 109, 95, 1); */
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .headline_message {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .headline_message h1 {
    text-align: center;
  }
 
</style>

<style>

  .videoDiv {
     width: 100%; height: 50vh; position: relative;
}

.videoBlock {
  width: 100%; height: 100%;  display: flex;  justify-content: center; align-items: center;
  /* background: rgba(229, 197, 150, .90); */
  /* background-size: cover; */
}
.video_message {width: 100%; height:100%; position: absolute; top: 0; left: 0;
  background: rgba(229, 197, 150, .90);
  background: rgba(0, 0, 0, .75);
  
  } 
 
.video_headline {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.video_glaze{
  height: 100%;
  width: 100%;
  background: red;
  display: flex;
}

.fa {
    transform: translateY(-1px);
    display: inline-block;
    color: #505055;
    color: #fff;
  }

.flash_icon {     
  mix-blend-mode: exclusion;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
</style>

<div class="jumbotron_scene_one">
  <div class="rbPanel rbPanel_one"></div>
  <div class="rbPanel rbPanel_two"></div>
  <div class="rbPanel rbPanel_three"></div>
</div>

<div class="rbPanel rbPanel_four">
  <div class="rbPanel_glaze">
    <div class="rbPanel_donut">
      <div class="headline_text_one">

        <h1>WEB/MOBILE</h1>
        <h2>6 years of experience</h2>

      </div>
    </div>
  </div>
</div>

<div class="rbPanel rbPanel_five">
  <div class="rbPanel_glaze_2">
    <div class="rbPanel_donut_2">
      <div class="headline_text_one">

        <h1>DATA SCIENCE/MACHINE LEARNING</h1>
        <h2>1 year of experience</h2>

      </div>
    </div>
  </div>
</div>

<div class="rbPanel_container">

  <div class="rbPanel rbPanel_six relative_container">
    <div class="headline_text_two relative_container">

      <navbar></navbar>

      <div class="headline_message">

        <div class="videoDiv">
          <div class="videoBlock">

            <video autoplay muted loop>
              <source src="../vids/ltq_intro_000.mp4" type="video/mp4">

              </source>

          </div>
          </video>


          <div class="video_message">
            <div class="video_headline">

              <h1>MEA(r)N</h1>
              <h1>STACK</h1>
              <h1>DEVELOPER</h1>

            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
</div>

<div class="rbPanel_seven">
  <div class="ft_container">
    <div class="rbPanel">
      <div class="ftPanel_one">
        <a href="https://www.linkedin.com/in/brendan-carr-182/" target="nofollow">
          <i class="fa fa-linkedin"></i>
          LinkedIn
        </a>

        <a class="flash_icon" href="https://www.linkedin.com/in/brendan-carr-182/" target="nofollow">
          <i class="fa fa-linkedin flash_icon"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="ft_container">
    <div class="rbPanel">
      <div class="ftPanel_two">
        <a href="https://github.com/LoseTheQuit" target="nofollow">
          <i class="fa fa-github"></i>
          GitHub
        </a>

        <a class="flash_icon" href="https://github.com/LoseTheQuit" target="nofollow">
          <i class="fa fa-github flash_icon"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="ft_container">
    <div class="rbPanel">
      <div class="ftPanel_three">

        <a href="https://twitter.com/losethequit?lang=en" target="nofollow">
          <i class="fa fa-twitter"></i>
          @losethequit
        </a>

        <a class="flash_icon" href="https://twitter.com/losethequit?lang=en" target="nofollow">
          <i class="fa fa-twitter flash_icon"></i>
        </a>

      </div>
    </div>
  </div>

</div>

<script src="../js/universal/parallax.min.js"></script>

<script>
  $(document).ready(function () {

    const init = () => {

      const globalEase = Expo.easeIn;
      const timeLineInterval_SUPER_SHORT = .25;
      const timeLineInterval_SHORT = .5;
      const timeLineInterval = .75;
      const timeLineIntervalLong = 1.5;
      const timeLineInterval_SUPER_Long = 2;

      const timeLine = new TimelineMax({
        onUpdate: () => {}
      });

      // SCENE ONE
      timeLine.from('.rbPanel_one', timeLineInterval, {
          opacity: 0,
          y: -500,
          ease: globalEase,
        })
        .from('.rbPanel_two', timeLineInterval, {
          opacity: 0,
          y: -500,
          ease: globalEase,
        }, `-=${timeLineInterval_SHORT}`).from('.rbPanel_three',
          timeLineInterval, {
            opacity: 0,
            y: -500,
            ease: globalEase,
          }, `-=${timeLineInterval_SHORT}`)
        .to('.rbPanel_one', timeLineInterval, {
          opacity: 0,
          y: 500,
          ease: globalEase,
        }, `-=${timeLineInterval_SUPER_SHORT}`)
        .to('.rbPanel_two', timeLineInterval, {
          opacity: 0,
          y: 500,
          ease: globalEase,
        }, `-=${timeLineInterval_SHORT}`)
        .to('.rbPanel_three', timeLineInterval, {
          opacity: 0,
          y: 500,
          ease: globalEase,
          onComplete: () => {
            $('.jumbotron_scene_one').css({
              display: "none"
            });
          }
        }, `-=${timeLineInterval_SHORT}`)

      // SCENE TWO
      timeLine.from('.rbPanel_four', timeLineInterval, {
          opacity: 0,
          y: 1000,
          ease: globalEase,
        })
        .from('.rbPanel_five', timeLineInterval, {
          opacity: 0,
          y: -1000,
          ease: globalEase,
        }, `-=${timeLineInterval_SUPER_SHORT}`)
        .from('.headline_text_one', timeLineInterval, {
          opacity: 1,
          color: "#FDF438",
          ease: globalEase,
        }, `+=${timeLineIntervalLong}`)
        .to('.rbPanel_five', timeLineInterval, {
          opacity: 1,
          y: -1000,
          height: 0,
          ease: globalEase,
        })
        .to('.rbPanel_four', timeLineInterval, {
          opacity: 1,
          y: 1000,
          height: 0,
          ease: globalEase,
          onComplete: () => {

            $('.rbPanel_four').css({
              display: "none"
            });

            $('.rbPanel_five').css({
              display: "none"
            });

            $('.rbPanel_six').css({
              background: "rgba(44, 45, 50, .90)"
            });
            $('.navbar-trans').css({
              display: "contents"
            });

          }
        }, `-=${timeLineInterval_SHORT}`)
        .to('.rbPanel_six', timeLineInterval, {
          ease: globalEase,
          onComplete: () => {

            $('.headline_message').css({
              display: "flex"
            });
            $('.rbPanel_seven').css({
              display: "flex"
            });

          }
        }, `-=${timeLineInterval}`)
        .to('.headline_text_two', timeLineInterval, {
          opacity: 1,
          color: "#000",
          ease: globalEase
        })
        .to('.rbPanel_seven', timeLineInterval, {
          opacity: 1,
          ease: globalEase
        })


      const iconDisappear = (str) => {
        timeLine
          .to(`${str} a`, timeLineInterval_SUPER_SHORT, {
            opacity: 0,
            x: -500,
            ease: globalEase,
          }, `-=${timeLineInterval_SHORT / 5}`)
          .to(`${str} .flash_icon`, timeLineInterval_SUPER_SHORT / 5, {
            display: "inline-block",
            opacity: 1,
            fontSize: `${$(str).height() / 3}px`,
            x: 0,
            y: -10,
            ease: globalEase,
          })
      }

      const iconAppear = (str, length_of_time) => {
        timeLine
          .to(`${str} a`, timeLineInterval_SUPER_SHORT, {
            opacity: 1,
            x: 0,
            ease: globalEase,
          }, `-=${timeLineInterval_SHORT }`)
          .to(`${str} .flash_icon`, timeLineInterval_SUPER_SHORT, {
            display: "none",
            opacity: 0,
            fontSize: `${0}px`,
            x: length_of_time,

            ease: globalEase,
          })
      }

      $(".ftPanel_one").hover(
        () => iconDisappear('.ftPanel_one'),
        () => iconAppear('.ftPanel_one', -500)
      );

      $(".ftPanel_two").hover(
        () => iconDisappear('.ftPanel_two'),
        () => iconAppear('.ftPanel_two', 0)
      );

      $(".ftPanel_three").hover(
        () => iconDisappear('.ftPanel_three'),
        () => iconAppear('.ftPanel_three', 500)
      );

    };
    init();
  });
</script>