<style>
    .sidebar {
        background: rgba(0, 0, 0, .5);
        border: 1px solid #fff;
        width: 100%;
        height: 90%;
        box-shadow: 0 10px 10px rgba(0, 0, 0, .25);
        transition: all linear .25s;
        z-index: 1;
    }
    
    .sidebar:hover {
        transition: all linear .75;
        box-shadow: 0 7px 1px rgba(0, 0, 0, .25);
    }
    
    .affix-top,
    .affix {
        position: static;
    }
    
    .inputBox {
        width: 70%;
        width: 55%;
        height: 40px;
        color: #000;
        padding: 10px;
        border: solid 1px rgba(0, 0, 0, .25);
        box-shadow: inset 0 0 0 1px #707070;
        transition: box-shadow 0.3s, border 0.3s;
        margin-bottom: 10px;
        vertical-align: middle;
        margin: 0 auto;
        display: inline;
        /* float: right; */
    }
    
    .inputBox:focus,
    .inputBox input[type="text"].focus {
        border: solid 1px rgba(0, 0, 0, .50);
    }
    
    @media (min-width: 990px) {
        .container {
            width: 95%;
        }
        .sidebar.affix-top {
            position: static;
            width: 228px;
        }
        .sidebar.affix {
            position: fixed;
            top: 5%;
            width: 228px;
        }
        .socialDataWrapper {
            position: static;
            margin-top: 0px;
            z-index: -1;
        }
        .displayFlex {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .searchIconSideBar {
            width: 15%;
            margin: 15px;
        }
        .socialIconSideBar {
            width: 15%;
            margin: 10px;
        }
        .inputBox {
            width: 40%;
        }
    }
    
    @media (max-width: 1200px) {
        .container {
            width: 100%;
        }
        .sideBarContainer {
            width: 95%;
        }
        .sidebar.affix-top {
            position: relative;
            margin-top: 30px;
            width: 100%;
        }
        .sidebar.affix {
            position: relative;
            top: 0%;
            width: 100%;
            margin-top: 50px;
        }
        .custom-dropdown .open {
            margin: 0 auto;
        }
        .socialDataWrapper {
            position: static;
            margin-top: 200px;
            z-index: -1;
        }
        .displayFlex {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .searchIconSideBar {
            width: 10%;
            margin: 15px;
        }
        .socialIconSideBar {
            width: 10%;
            margin: 10px;
        }
        .inputBox {
            width: 55%;
        }
    }
    
    @media (max-width: 400px) {
        .inputBox {
            width: 40%;
        }
    }
    
    @media (max-width:1200px) {
        .navbar-nav {
            float: none;
            margin: 0;
            margin: 0 auto;
            margin: 7.5px 15px;
        }
        .navbar-collapse.in {
            overflow-y: visible
        }
        .navbar-nav li {
            float: none;
        }
        .navbar-nav li a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    
    .beaker {
        width: 100%;
        height: 100%;
    }
    /*--***** DROPDOWN STYLES *****--*/
    /*--***** DROPDOWN STYLES *****--*/
    /*--***** DROPDOWN STYLES *****--*/
    /*--***** DROPDOWN STYLES *****--*/
    /*--***** DROPDOWN STYLES *****--*/
    
    .dropdown button,
    .dropdown button:hover,
    .dropdown button:active,
    .dropdown button:focus {
        position: relative;
        background-color: transparent;
        color: #fff;
        overflow: hidden;
        padding: 0px;
        border: 0px;
    }
    
    .dropdown:focus button {
        position: relative;
        background-color: transparent;
        color: #fff;
        overflow: hidden;
        border-radius: 0px;
        padding: 0px;
    }
    
    .dropdown-menu a {
        color: rgba(255, 255, 255, .95);
    }
    
    .custom-dropdown {
        /* margin: 0 auto; */
        width: 100%;
        height: auto;
        min-height: auto;
        line-height: 50px;
        display: block;
        margin-bottom: 25px;
        margin-top: 25px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, .25);
        text-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        background: rgba(0, 45, 114, .07);
        border: 1px solid rgba(0, 163, 224, .37);
        /* border-radius: 7px; */
    }
    
    .custom-dropdown:hover {
        box-shadow: 0 7px 1px rgba(0, 0, 0, .25);
        text-decoration: none;
        color: #fff;
        transition: all linear .50s;
    }
    
    .custom-dropdown a {
        color: rgba(255, 255, 255, .95);
    }
    
    .custom-dropdown .active a,
    .custom-dropdown .active a:hover,
    .custom-dropdown .active a:focus {
        color: #ffffff;
        background-color: red;
    }
    
    .custom-dropdown a:hover,
    .custom-dropdown a:focus {
        text-decoration: none;
    }
    
    .custom-dropdown .open a,
    .custom-dropdown .open a:hover,
    .custom-dropdown .open a:focus {
        background-color: transparent;
        text-decoration: none;
    }
    
    .custom-dropdown .icon-bar {
        border: 1px solid #fff;
    }
    
    .custom-dropdown .open li a {
        margin: 0 auto;
        color: #428bca;
        cursor: pointer;
        width: 100%;
    }
    
    .primaryDropDownText {
        /* display: inline-block; */
        margin: 10px;
        white-space: nowrap;
        cursor: pointer;
    }
    
    .displayFlexBottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .customDropDownButtonWrapper {
        margin: 0 auto;
    }
    
    .dropup,
    .dropdown li {
        margin: 0 auto;
    }
    
    .showButton {
        margin-right: 2%;
    }
    
    .searchIconSideBarContainer {
        display: inline;
    }
</style>

<div class="container" ng-hide="!hideThisDiv">
    <div class="leftCol">

        <ul class="nav nav-stacked sidebar" id="sidebar">
            <div class="beaker displayFlex">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <div class="custom-dropdown">

                        <center>


                            <div class="searchIconSideBarContainer">
                                <img class="searchIconSideBar" src="../img/svg/search.svg">
                            </div>


                            <input class="inputBox" type="text" placeholder="#search" ng-model="inputSearchTweetsAndInstagramQuery" ng-change="getIgandTwitterApiData()">

                            <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <center>
                                        <li role="presentation" class=" ">
                                            <div class="dropdown">
                                                <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <img class="socialIconSideBar" src="../img/svg/twitter.svg">
                                                    <span class="primaryDropDownText">  
                                        <span>{{getTwitterDropDownText(getTwitterDropDownNumber)}}</span>
                                                    <b class="caret"></b>
                                                    </span>
                                                </button>

                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <center>
                                                            <a role="menuitem" ng-click=getTwitterDropDownText(1)><span>user timeline</span>
                                                            </a>
                                                        </center>
                                                    </li>
                                                    <li>
                                                        <center>
                                                            <a role="menuitem" ng-click=getTwitterDropDownText(2)><span>search tweets</span>
                                                            </a>
                                                        </center>
                                                    </li>
                                                    <li>
                                                        <center>
                                                            <a role="menuitem" ng-click=getTwitterDropDownText(3)><span>coming soon</span>
                                                        </a>
                                                        </center>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="dropdown">
                                                <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <img class="socialIconSideBar" src="../img/svg/instagram.svg">
                                                    <span class="primaryDropDownText">  
                                        <span>{{getTwitterDropDownText(getTwitterDropDownNumber)}}</span>
                                                    <b class="caret"></b>
                                                    </span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <center>
                                                            <a role="menuitem" ng-click=getTwitterDropDownText(1)><span>user timeline</span>
                                                            </a>
                                                        </center>
                                                    </li>
                                                    <li>
                                                        <center>
                                                            <a role="menuitem" ng-click=getTwitterDropDownText(2)><span>search tweets</span>
                                                            </a>
                                                        </center>
                                                    </li>
                                                    <li>
                                                        <center>
                                                            <a role="menuitem" ng-click=getTwitterDropDownText(3)><span>coming soon</span>
                                                        </a>
                                                        </center>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="dropdown">
                                                <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <img class="socialIconSideBar" src="../img/svg/instagram.svg">
                                                    <span class="primaryDropDownText">
                                                <span>{{getTwitterDropDownText(getTwitterDropDownNumber)}}</span>
                                                    </span> <b class="caret"></b>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <center>
                                                            <a role="menuitem" ng-click=getTwitterDropDownText(1)><span>user timeline</span>
                                                            </a>
                                                        </center>
                                                    </li>
                                                    <li>
                                                        <center>
                                                            <a role="menuitem" ng-click=getTwitterDropDownText(2)><span>search tweets</span>
                                                            </a>
                                                        </center>
                                                    </li>
                                                    <li>
                                                        <center>
                                                            <a role="menuitem" ng-click=getTwitterDropDownText(3)><span>coming soon</span>
                                                        </a>
                                                        </center>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </center>
                                </ul>

                            </div>

                        </center>

                    </div>
                </div>

                <!--
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 hideThisDiv">
                    <div class="custom-dropdown">
                        <center>
                            <div class="dropdown">
                                <img class="socialIconSideBar" src="../img/svg/twitter.svg">
                                <a class="dropdown-toggle" id="drop1" data-toggle="dropdown" href="#" role="button">
                                    <span class="primaryDropDownText">
                                        <span>{{getTwitterDropDownText(getTwitterDropDownNumber)}}</span>
                                    <b class="caret"></b>
                                    </span>
                                </a>

                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                    <li role="presentation">
                                        <a role="menuitem" ng-click=getTwitterDropDownText(1)><span>user timeline</span></a>
                                        <a role="menuitem" ng-click=getTwitterDropDownText(2)><span>search tweets</span></a>
                                        <a role="menuitem" ng-click=getTwitterDropDownText(3)><span>coming soon</span></a>
                                    </li>
                                </ul>

                            </div>
                        </center>
                    </div>
                </div>
                -->

                <!--
                <div class="displayFlexBottom">
                    <center>
                        <h1 class="headLine">werkspayce</h1>
                    </center>
                </div>
                -->

            </div>
        </ul>
    </div>
</div>


<script>
    $(function () {

        var stickyLine = document.querySelector('.stickyLine');
        var stickyLinePosition = stickyLine.getBoundingClientRect().top;

        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)
        console.log(stickyLinePosition)

        $('.sidebar').affix({
            offset: {
                top: -10
            }
        });

        var $body = $(document.body);
        var navHeight = $('.navbar').outerHeight(true) + 10;

        $body.scrollspy({
            target: '.leftCol',
            offset: navHeight
        });

        var instaCardWidth = $('.igCard').width();
        var tweetCardWidth = $('.cardImage').width();
        var theWhiteLineWidth = $('.theWhiteLine').width();

        function sidebarResize() {

            instaCardWidth = $('.igCard').width();
            tweetCardWidth = $('.cardImage').width();
            theWhiteLineWidth = $('.theWhiteLine').width();

            if ($('.tweetCardShell').css('padding-right') !== undefined) {

                var tweetCardShellPaddingRight = parseInt($('.tweetCardShell').css('padding-right').replace('px', '')) || null;
                var tweetCardShellPaddingLeft = parseInt($('.tweetCardShell').css('padding-left').replace('px', '')) || null;
            }

            var tweetCardShellPaddingRight = parseInt($('.tweetCardShell').css('padding-right').replace('px', '')) || null;
            var tweetCardShellPaddingLeft = parseInt($('.tweetCardShell').css('padding-left').replace('px', '')) || null;


            if (($(window).width() + 17) > 1200) {

                $('.hideThisDiv').css('display', 'block');


                $('.sidebar').css('position', 'fixed');

                $('.sidebar').css({
                    transition: 'all linear .25s'
                });

                $('.sidebar').css('height', '90%');
                $('.sidebar.affix').css('top', '5%');
                if (tweetCardWidth <= 101) {
                    $('.sidebar').css('width', 300 - 75);
                } else {
                    $('.sidebar').css('width', tweetCardWidth - ((tweetCardShellPaddingRight + tweetCardShellPaddingLeft) * 2));
                }

            } else {

                $('.hideThisDiv').css('display', 'none');


                $('.sidebar').hover(function () {
                    $('.sidebar').css({
                        transition: 'all linear .25s'
                    });
                });
                $('.sidebar.affix').css('top', '0%');
                $('.sidebar').css({
                    transition: 'all linear .007s'
                });

                $('.sidebar').css('position', 'fixed');

                $('.sidebar').css('height', 'auto');
                $('.sidebar').css('width', theWhiteLineWidth + 'px');

            }

            console.log('\n');
            console.log('WINDA: ' + ($(window).width() + 17));
            console.log('INSTA: ' + instaCardWidth);
            console.log('TWEET: ' + tweetCardWidth);
            console.log('SIDEBAR: ' + $('.sidebar').width());
            console.log('THE DIFF: ' + (tweetCardWidth - instaCardWidth));
            console.log('tweetCardShellMARGIN: ' + (tweetCardShellPaddingRight + tweetCardShellPaddingLeft));
            console.log('\n');

        }


        setTimeout(function () {
            sidebarResize();
        }, 1000);
        setTimeout(function () {
            sidebarResize();
        }, 1500);
        setTimeout(function () {
            sidebarResize();
        }, 2000);

        $(window).resize(function () {
            sidebarResize();
        });

        //        $(window).bind('scroll', function () {
        //            if ($(window).scrollTop() > 100) {
        //                $('.socialDataWrapper').hide();
        //            } else {
        //                $('.socialDataWrapper').show();
        //            }
        //        });

    });
</script>